<header>
    <nav class="application-header navbar navbar-expand-sm navbar-toggleable-sm">
        <div class="container">
            <a class="navbar-brand site-head-name" asp-area="" asp-controller="Board" asp-action="Index">Advanced Todo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                <ul class="navbar-nav">
                    <partial name="_LoginInfo" />
                </ul>
            </div>
        </div>
    </nav>
</header>