@{
    ViewData["Title"] = "Hakkında";
    Layout = "_LandingLayout";
}


<div class="jumbotron home-first-section">
    <div class="container">
        <h1 class="display-4">Hakkında</h1>
        <hr class="my-4">
        <p>Advanced Todo Uygulaması Nedir ?</p>
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="card-body">
            <p class="lead">
                Advanced Todo uygulaması, kolay bir şekilde kontrol edilebilen bir iş yönetim uygulamasıdır. Bu uygulama sayesinde
                yapacağınız işlere göre farklı panolar oluşturabilir, bu panoları ister kişisel ister ekip olarak kullanabilirsiniz.
            </p>
            <hr />
            <p class="lead">
                Her panonun altına farklı kategoriler ekleyebilir, daha sonra bu kategorilere ait olan iş kartları ekleyebilirsiniz.
                İş kartları sayesinde yapılacak işlerinizi ayarlayabilir ve eğer ekip çalışması yürütüyorsanız bu kartlara kendisinden sorumlu
                ekip üyeleri atayabilirsiniz.
            </p>
        </div>
    </div>
</div>